*~
tmp/*
test/*
config/database.yml
\#*
.\#*
db/*.sqlite3
log/*.log
rerun.txt
db/*.sql
public/system/*
.bundle/*
.bundle/config
public/builds/*
public/javascripts/extjs/awesome_uploader/uploads/*
coverage/*
.DS_Store
dump.rdb
lib/mp4info
